@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  @apply max-w-[1320px] mx-auto 2xl:px-0 px-3;
}
.public-sans {
  font-family: "Public Sans", sans-serif;
}
.category {
  @apply text-white border border-gray-500 px-2 py-2 rounded-md hover:border-white hover:bg-[#303639];
}
.categorys {
  @apply text-white text-black border border-[#E4E7E9] px-2 py-2 rounded-md hover:border-[#FA8232] hover:bg-[#FFF3EB];
}
.styleWond{
  @apply w-[40px] h-[40px] border cursor-pointer border-[#E4E7E9] text-black  hover:bg-[#FA8232] hover:text-white rounded-full flex justify-center items-center;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.bottom_nav_item {
  @apply flex lg:gap-2 gap-1 items-center lg:text-lg text-base text-gray-700 hover:text-gray-800 cursor-pointer duration-200;
}
@media (min-width: 768px) {
  .swiper-pagination {
    width: fit-content !important;
  }
}

/* For mobile screens (below 768px) */
@media (max-width: 767px) {
  .swiper-pagination {
    bottom: -5px !important;
    width: 100% !important; /* Or any other style you prefer for mobile */
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  background-color: #fa8232;
  border-radius: 100%;
  position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
  justify-content: center; /*

  /* Adjust the height as needed */
}

#slide {
  width: 200px !important;
  height: auto !important;
}
.swiper-pagination-bullet-active{
@apply !bg-black !w-[10px] !h-[10px];
}
.swiper-pagination-bullet{
@apply !w-[10px] !h-[10px] !select-none;
}
.ant-modal-close{
  @apply !p-1 !bg-red-500 !rounded-3xl !text-white;
}
.ant-rate{
  @apply text-[#FA8232] text-xl;
}
.swiper-button-prev{
  @apply !w-[30px] !h-[30px] ;
}
.swiper-button-next{
  @apply !w-[30px] !h-[30px] ;
}

.loginSignup{
  .ant-tabs{
    @apply !w-[400px] sm:!w-[424px] !flex !flex-col !justify-center !items-center !border rounded-sm;
  }
  .ant-tabs-tab-btn{
    @apply text-[#77878F] text-xl font-semibold;
  } 
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    @apply !text-[#000];
  }
 .ant-tabs .ant-tabs-content-holder {
 @apply !w-full;
  }
  .ant-tabs-nav {
    @apply !w-full !text-center;
  }
 .ant-tabs-nav-list{
    @apply !w-full;
  }
  .ant-tabs-tab{
    @apply !w-full flex justify-center;
  }
  :hover > .ant-checkbox-inner{
    @apply !border-[#FA8232];
  }
  :where(.css-dev-only-do-not-override-2v094m).ant-checkbox-checked .ant-checkbox-inner{
  @apply !bg-[#FA8232] !border-[#FA8232];
  }
}

.bloglist{
  :where(.css-dev-only-do-not-override-cdzvx5).ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
    @apply !bg-[#FA8232] !w-5 !h-5;
  }
  .ant-radio-inner{
    @apply !border-[#C9CFD2] !w-5 !h-5;
  }
}
.radios{
  :where(.css-dev-only-do-not-override-cdzvx5).ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
    @apply !bg-[#fff] border-2 !border-[#FA8232] !w-5 !h-5;
  }
  .ant-radio-inner{
    @apply !border-[#C9CFD2]  !w-5 !h-5;
  }
}
:where(.css-dev-only-do-not-override-cdzvx5).ant-slider .ant-slider-track {
@apply !bg-[#FA8232];
}

:where(.css-dev-only-do-not-override-cdzvx5).ant-slider .ant-slider-handle::after{
  box-shadow: 0 0 0 2px #FA8232 !important; 
}

.popularBrands{
  :where(.css-dev-only-do-not-override-cdzvx5).ant-checkbox-checked .ant-checkbox-inner{
    @apply !bg-[#FA8232] !border-[#FA8232];
  }
}

.pagedtprodrer{
  :hover > .ant-checkbox-inner{
    @apply !border-[#FA8232];
  }
  :where(.css-dev-only-do-not-override-2v094m).ant-checkbox-checked .ant-checkbox-inner{
  @apply !bg-[#FA8232] !border-[#FA8232];
  }
  .ant-tabs-tab-btn{
    @apply text-[#77878F] text-xl font-semibold;
  } 
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    @apply !text-[#000];
  }
  .ant-tabs-nav-wrap{
@apply !w-full !flex !flex-row !justify-center !items-center;
  }
}

.checkout{
  :where(.css-dev-only-do-not-override-cdzvx5).ant-checkbox-checked .ant-checkbox-inner {
    @apply !bg-[#FA8232] !border-[#FA8232];
    }
    :hover > .ant-checkbox-inner{
      @apply !border-[#FA8232];
    }
}
.checkoutRadio{
  :where(.css-dev-only-do-not-override-cdzvx5).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    @apply !bg-[#FA8232] border-2 !border-[#FA8232] !w-5 !h-5;
  }
  .ant-radio-inner{
    @apply !border-[#C9CFD2]  !w-5 !h-5;
  }
}